<body>
  <div class="container row creditos">
    <div class="col l5 s6 offset-s3">
      <img src="/logo_full.jpg">
    </div>
    <div class="col l7 s12">
      <h4>Android </h4>
        <p class="flow-text">
          Yan Correa Trindade &middot;
          Túlio Abner de lima &middot;
          Otávio Alves Dias &middot;
          Vitor Silva de Deus &middot;
          Fernando Lucchesi Alencar &middot;
          Eduardo Calandrini Rocha da Costa &middot;
          Gabriel Martins de Miranda &middot;
          Marina Martins de Miranda &middot;
          João Paulo Costa de Araujo &middot;
        </p>
      <h4>Arduino</h4>
        <p class="flow-text">
          Hugo Luís Andrade Silva &middot;
          Guilherme Neves Sousa &middot;
          Eduardo Sousa da Silva &middot;
          Pedro Henrique Souza Tolentino &middot;
          Victor Guedes Cordeiro Ramos &middot;
        </p>
      <h4>Web</h4>
        <p class="flow-text">
          Murilo Cerqueira Medeiros &middot;
          Gabriel Mesquita de Araujo &middot;
          Alisson Yuri Cavalcante Carvalho &middot;
          Gabriela da Silva Lopes &middot;
          Eduardo Shindi Nanami &middot;
          Alexandro Gomes &middot;
          Jadiel Teófilo Amorim de Oliveira &middot;
          Carlos Joel Tavares da Silva &middot;
          Francisco Anderson Bezerra Rodrigues &middot;
          Douglas Shiro Yokoyama &middot;
          Cristoffer Leite da Silva &middot;
      </p>
      <blockquote id="citacao">
        "coding is the closest thing we have to a superpower"
      </blockquote>
    </div>
  </div>
</body>
<footer class="page-footer blue-grey simples">
  <div class="row">
    <div class="col l3 offset-l9">
      <h6 class="white-text"><b>bSpy</b> Sistema de monitoramento</h6>
    </div>
  </div>
</footer>
