<!DOCTYPE html>
<html>
	<head>
	  <title>bSpy</title>
	  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
			<div class="descricao_pag" >   <!-- brown lighten-5"> -->
	        <div class="container">
	            <div class="row">
	                <br><br>
	                <div class="col s6 offset-s3">
	                    <!-- <h5 class="black-text condensed light center-align ">bSpy - Sistema de monitoramento</h5> -->
											<img src="/logo_full2.jpg">
											<p class="black-text condensed light center-align">Sempre te manterá seguro!</p>
	                </div>

	            </div>
	            <div class="row">
	                <br>
									<div class="divider"></div>
	                <!-- <div class="col s6 offset-s3">
	                    <p class="condensed light center-align ">__________________________________________</p>
	                </div> -->
	            </div>
	        </div
    </div>
		<div class="container home valign-wrapper" >
			<div class=" row valign classe_home">
	        <h4 class = " light center-align">Detalhes de controle. Quantas vezes se foi utilizada a camera, ?graficos?, etc.</h4>
	    </div>
	  </div>
	</body>
	<footer class="page-footer blue-grey">
	  <div class="container">
	    <div class="row">
	      <div class="col l6 s12">
	        <h5 class="white-text"><img src="/logo.jpg"> bSpy</h5>
	        <p class="grey-text text-lighten-4">Projeto de redes para criação de algo prático à vida acadêmica e aos acessos existentes na UnB</p>
	        <a class="grey-text text-lighten-3" href="desenvolvedores">Desenvolvedores</a>
	      </div>
	      <div class="col l4 offset-l2 s12">
	        <h5 class="white-text">Features</h5>
	        <ul>
	          <li><span class="grey-text text-lighten-3">Web Application</span></li>
	          <li><span class="grey-text text-lighten-3">Mobile App</span></li>
	          <li><span class="grey-text text-lighten-3">Integração com Arduino</span></li>
	          <li><span class="grey-text text-lighten-3">Monitoramento por Câmeras</span></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	    © 2016 Teleinformática e Redes 2
	    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
	    </div>
	  </div>
	</footer>
</html>
