<!DOCTYPE html>
<html>
	<head>
	  <title>bSpy</title>
	  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />`
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="descricao_pag   brown lighten-5">
	        <div class="container">
	            <div class="row">
	                <br><br><br><br><br>
	                <div class="col s6 offset-s3">
	                    <h5 class="black-text condensed light center-align ">bSpy - Sistema de monitoramento</h5>
	                    <p class="black-text condensed light center-align">Sempre te manterá seguro!</p>
	                </div>

	            </div>
	            <div class="row">
	                <br>
	                <div class="col s6 offset-s3">
	                    <p class="condensed light center-align ">__________________________________________</p>
	                </div>
	            </div>
	        </div>

	    </div>
	<div class="container home valign-wrapper" >
		<div class=" row valign classe_home">
	        <h4 class = " light center-align">Detalhes de controle. Quantas vezes se foi utilizada a camera, ?graficos?, etc.</h4>
	    </div>
    </div>


	</body>
</html>