<!DOCTYPE html>
<html>
	<head>
	  <title>bSpy</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<div class="container home valign-wrapper" >
		<div class=" row valign classe_home">
	        <h4 class = " light center-align">Detalhes de controle. Quantas vezes se foi utilizada a camera, ?graficos?, etc.</h4>
	    </div>
    </div>


	</body>
</html>