<!DOCTYPE html>
<html>
	<head>
	  <title>bSpy</title>
	  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
			<div class="descricao_pag" >   <!-- brown lighten-5"> -->
	        <div class="container">
	            <div class="row">
	                <br><br>
	                <div class="col s12 m6 l6 offset-m3 offset-l3">
	                    <!-- <h5 class="black-text condensed light center-align ">bSpy - Sistema de monitoramento</h5> -->
											<img src="/logo_full2.jpg">
											<p class="black-text condensed light center-align">Sempre te manterá seguro!</p>
	                </div>

	            </div>
	            <div class="row">
	                <br>
									<div class="divider"></div>
	                <!-- <div class="col s6 offset-s3">
	                    <p class="condensed light center-align ">__________________________________________</p>
	                </div> -->
	            </div>
	        </div
    </div>
		<div class="container home valign-wrapper" >
			<div class=" row valign classe_home">
					<div class="col s10 offset-s1 m6 offset-m3 l4">
							<div class="center-align">
									<i class="material-icons medium">stay_current_portrait</i>
							</div>
							<p>
								Reutilize aparelhos android antigos como câmeras de segurança
								e mantenha sua casa, loja escritórios monitorados 24/7.
							</p>
					</div>
					<div class="col s10 offset-s1 m6 offset-m3 l4">
							<div class="center-align">
									<i class="material-icons medium">perm_media</i>
							</div>
							<p>
								Tenha em seu aparelho, desktop, tablet ou smartphone imagens
								do local monitorado no momento desejado.
							</p>
					</div>
					<div class="col s10 offset-s1 m6 offset-m3 l4">
							<div class="center-align">
									<i class="material-icons medium">settings</i>
							</div>
							<p>
								Fácil instalação: basta posicionar os aparelhos e conectá-los via wi-fi
								para o sistema começar a funicionar.
							</p>
					</div>
		 	</div>
	  </div>
	</div>
	</body>
	<footer class="page-footer blue-grey">
	  <div class="container">
	    <div class="row">
	      <div class="col s12 m8 l6">
	        <h5 class="white-text"><img src="/logo.jpg"> bSpy</h5>
	        <p class="grey-text text-lighten-4">Projeto de redes para criação de algo prático à vida acadêmica e aos acessos existentes na UnB</p>
	        <a class="grey-text text-lighten-3" href="desenvolvedores">Desenvolvedores</a>
	      </div>
	      <div class="col s12 m4 l4 offset-l2">
	        <h5 class="white-text">Projeto</h5>
	        <ul>
	          <li><span class="grey-text text-lighten-3">Web Application</span></li>
	          <li><span class="grey-text text-lighten-3">Mobile App</span></li>
	          <li><span class="grey-text text-lighten-3">Integração com Arduino</span></li>
	          <li><span class="grey-text text-lighten-3">Monitoramento por Câmeras</span></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	    © 2016 Teleinformática e Redes 2
	    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
	    </div>
	  </div>
	</footer>
</html>
