<div class="container">
	<br>
	
    <div class="row center-align">
        <h3 class="thin">Edição de Imagem</h3>
    </div>

	<%= render 'form' %> 
	<br>
	<div class="row center-align">
		<%= link_to 'Back', imagens_path, :class=>"waves-effect waves-teal btn-flat" %>
    </div>
</div>