
/*html {
    position: relative;
    min-height: 90%;
    height: 90%;
}

body {
	height: 90%;
  margin: 0 0 100px;
}*/

.brand-logo img{
  height: 1.5em;
  margin-top: 10px;
}

.descricao_pag{
  height: 100%;
  width: 100%;
}

.container.home.valign-wrapper{
  height: 100%;
  margin-bottom: 18%;
}

.container.maior{
    min-height: 500px;
    margin-bottom: 60px;
}

.page-footer.simples p{
    margin-top: 10%;
}

footer.page-footer{
    padding-top: 10px !important;
}

footer.page-footer img{
    height: 20px;
}

footer > div{
    margin-bottom: 0px !important;
}

.page-footer.simples img{
    height: 35px;
    width: auto;
    margin-right: 7px;
}
