
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
	height: 100%;
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.descricao_pag{
	margin-top: -2%;
}